@page "/"

@using Facturation.Shared

@inject IBusinessData data

<h1>Application de Facturation Client</h1>

<h2>Liste des factures clientes en cours</h2>

<h2> Revenue Total :  @data.SalesRevenue.ToString("€ 0.00")</h2>

<h2> Restant : @data.Outstanding.ToString("€ 0.00")</h2>






